@font-face {
	font-family: 'Apercu';
	font-weight: 400;
	src: url('~assets/fonts/Apercu/Apercu-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Apercu';
	font-weight: 500;
	src: url('~assets/fonts/Apercu/Apercu-Medium.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Cigra';
	font-weight: normal;
	src: url('~assets/fonts/Cigra/Cigra.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}